.sortable {
    cursor: pointer;
}

.sortable:not(.ascending):not(.descending):after {
    content: "\25B4\25BE";
    padding: 0 3px 0;
    letter-spacing: -6px;
}

.sortable.ascending:after{
    content: "\25BE";
}

.sortable.descending:after{
    content: "\25B4";
}