<div class="table next-step" data-step="column-step" data-number="2">
    <div>
        <h4>{{table_name}}</h4>
        <ul>
            {{#each columns}}
                <li>- {{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
